@model List<InventoryManagement.Models.DBModels.User>
@using InventoryManagement.Models.DBModels
@{
    ViewBag.Title = "UserPasswords";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
    Role role = Session["Role"] as Role;
}


@if (role.IsDeveloper)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="example-box-wrapper">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="title-hero">User Details</h3>
                            </div>
                            <div class="col-md-6">
                                <div class="pull-right">
                                    <a href="@Url.Action("AddUser","User")" class="btn btn-primary" id="AddProductBtn">
                                        Add User
                                        <div class="ripple-wrapper"></div>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div id="datatable-responsive_wrapper" class="dataTables_wrapper form-inline">
                            <table id="UserList" class="table table-striped table-bordered responsive no-wrap DataTable dtr-inline" role="grid" aria-describedby="datatable-responsive_info" style="width: 100%;" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Gender</th>
                                        <th>Date Of Birth</th>
                                        <th>Email</th>
                                        <th>Mobile No</th>
                                        <th>Password</th>
                                        <th>Account Creation</th>
                                        <th>Last Login</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var element in Model)
                                    {
                                        <tr>
                                            <td>@element.FirstName</td>
                                            <td>@element.LastName</td>
                                            <td>@element.Gender</td>
                                            <td>@element.Birthday.ToString("dd MMM yyyy")</td>
                                            <td>@element.Email</td>
                                            <td>@element.MobileNo</td>
                                            <td>@element.Password</td>
                                            <td>@element.AccountCreation.ToString("dd MMM yyyy")</td>
                                            <td>@element.LastLogin.ToString("dd MMM yyyy")</td>
                                            <td>
                                                <a href="@Url.Action("AddUser", "User", new { id = element.Id })"><i style="color:blue" class="glyph-icon tooltip-button icon-pencil-square-o" title="" data-original-title="Edit" aria-describedby="tooltip854738"></i></a>
                                                <a role="button" data-id="@element.Id" class="DeleteUserBtn" href="#/"><i style="color:red" class="glyph-icon tooltip-button icon-trash" title="" data-original-title="Delete" aria-describedby="tooltip991223"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
