@using InventoryManagement.Models.Common
@using InventoryManagement.Models.Repositories
@model InventoryManagement.Controllers.ProductSearchVM
@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";
    var productRepo = new ProductRepository();
    var categoryRepo = new CategoryRepository();
    var categoryId = Request.QueryString["CategoryId"];

    var user = Session["User"] as SessionUser;
    var wishListItems = new List<int>();
    if (user != null)
    {

        wishListItems = productRepo.GetWishList(user.Id);
    }

}

<div class="page-content">
    <div class="container">



        <div class="shop-content row gutter-lg mb-10">
            <!-- Start of Sidebar, Shop Sidebar -->
            <aside class="sidebar shop-sidebar sticky-sidebar-wrapper sidebar-fixed">
                <!-- Start of Sidebar Overlay -->
                <div class="sidebar-overlay"></div>
                <a class="sidebar-close" href="#"><i class="close-icon"></i></a>

                <!-- Start of Sidebar Content -->
                <div class="sidebar-content scrollable">
                    <!-- Start of Sticky Sidebar -->
                    <div class="pin-wrapper" style="height: 1804px;">
                        <div class="sticky-sidebar" style="border-bottom: 0px none rgb(102, 102, 102); width: 280px;">
                            <div class="filter-actions">
                                <label>Filter :</label>
                                <a href="@Url.Action("ProductSearch", "Home")" class="btn btn-dark btn-link filter-clean">Clean All</a>
                            </div>
                            <!-- Start of Collapsible widget -->
                            <div class="widget widget-collapsible">
                                <h3 class="widget-title"><label>All Categories</label><span class="toggle-btn"></span></h3>
                                <ul class="widget-body filter-items search-ul">
                                    @foreach (var category in categoryRepo.GetList())
                                    {
                                        <li><a href="@Url.Action("ProductSearch", "Home", new {CategoryId = category.ID })">@category.Name</a></li>
                                    }
                                </ul>
                            </div>
                            <!-- End of Collapsible Widget -->
                            <!-- Start of Collapsible Widget -->
                            <div class="widget widget-collapsible">
                                <h3 class="widget-title"><label>Price</label><span class="toggle-btn"></span></h3>
                                <div class="widget-body">
                                    <ul class="filter-items search-ul">
                                        <li><a href="#/" onclick="AssignPrice(0, 100)">£0.00 - £100.00</a></li>
                                        <li><a href="#/" onclick="AssignPrice(100, 200)">£100.00 - £200.00</a></li>
                                        <li><a href="#/" onclick="AssignPrice(200, 300)">£200.00 - £300.00</a></li>
                                        <li><a href="#/" onclick="AssignPrice(300, 500)">£300.00 - £500.00</a></li>
                                        <li><a href="#/" onclick="AssignPrice(500, 0)">£500.00+</a></li>
                                    </ul>
                                    <form class="price-range">
                                        <input type="hidden" name="CategoryId" value="@categoryId">
                                        <input type="number" name="PriceFrom" class="min_price text-center" placeholder="$min">
                                        <span class="delimiter">-</span>
                                        <input type="number" name="PriceTo" class="max_price text-center" placeholder="$max">
                                        <button type="submit" class="btn btn-primary btn-rounded">Go</button>

                                    </form>
                                </div>
                            </div>


                            <!-- End of Collapsible Widget -->
                            <!-- Start of Collapsible Widget -->
                            <div class="widget widget-collapsible">
                                <h3 class="widget-title"><label>Vendors</label><span class="toggle-btn"></span></h3>
                                <ul class="widget-body filter-items search-ul">
                                    @foreach (var item in Model.Vendors)
                                    {
                                        <li><a href="@Url.Action("ProductSearch", "Home", new {Vendor = item.value })">@item.value</a></li>
                                    }
                                </ul>
                            </div>
                            <div class="widget widget-collapsible">
                                <h3 class="widget-title"><label>Screen Size</label><span class="toggle-btn"></span></h3>
                                <ul class="widget-body filter-items search-ul">
                                    @foreach (var item in Model.ScreenSize)
                                    {
                                        <li><a href="@Url.Action("ProductSearch", "Home", new {ScreenSize = item.value })">@item.value</a></li>
                                    }
                                </ul>
                            </div>
                            <div class="widget widget-collapsible">
                                <h3 class="widget-title"><label>Memory Size</label><span class="toggle-btn"></span></h3>
                                <ul class="widget-body filter-items search-ul">
                                    @foreach (var item in Model.MemorySize)
                                    {
                                        <li><a href="@Url.Action("ProductSearch", "Home", new {MemorySize = item.value })">@item.value</a></li>
                                    }
                                </ul>
                            </div>
                            <!-- End of Collapsible Widget -->
                            <!-- Start of Collapsible Widget -->
                            @*<div class="widget widget-collapsible">
            <h3 class="widget-title"><label>Brand</label><span class="toggle-btn"></span></h3>
            <ul class="widget-body filter-items item-check mt-1">
                <li><a href="#">Elegant Auto Group</a></li>
                <li><a href="#">Green Grass</a></li>
                <li><a href="#">Node Js</a></li>
                <li><a href="#">NS8</a></li>
                <li><a href="#">Red</a></li>
                <li><a href="#">Skysuite Tech</a></li>
                <li><a href="#">Sterling</a></li>
            </ul>
        </div>*@
                            <!-- End of Collapsible Widget -->
                            <!-- Start of Collapsible Widget -->
                            @*<div class="widget widget-collapsible">
            <h3 class="widget-title"><label>Color</label><span class="toggle-btn"></span></h3>
            <ul class="widget-body filter-items item-check mt-1">
                <li><a href="#">Black</a></li>
                <li><a href="#">Blue</a></li>
                <li><a href="#">Brown</a></li>
                <li><a href="#">Green</a></li>
                <li><a href="#">Grey</a></li>
                <li><a href="#">Orange</a></li>
                <li><a href="#">Yellow</a></li>
            </ul>
        </div>*@
                            <!-- End of Collapsible Widget -->
                        </div>
                    </div>
                    <!-- End of Sidebar Content -->
                </div>
                <!-- End of Sidebar Content -->
            </aside>
            <!-- End of Shop Sidebar -->
            <!-- Start of Shop Main Content -->
            <div class="main-content">

                <div class="product-wrapper row cols-md-3 cols-sm-2 cols-2">

                    @foreach (var product in Model.ProductList)
                    {
                        <div class="product-wrap">
                            <div class="product text-center">
                                <figure class="product-media">
                                    <a href="@Url.Action("ProductDetail", "Home", new{Id = product.ID})">
                                        <img src="@(!string.IsNullOrWhiteSpace( product.ImagePath) ? Url.Content(product.ImagePath) : "" )" alt="Product" width="300" height="338">
                                    </a>
                                    <div class="product-action-horizontal">
                                        @*<a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>*@
                                        @if (user != null)
                                        {
                                            <a href="#/" data-prod-id="@product.ID" class="btn-product-icon btn-wishlist1  @(wishListItems.Contains(product.ID) ? "added w-icon-heart-full" : "w-icon-heart")" title="Add to wishlist"><span></span></a>
                                        }

                                        @*<a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>*@
                                        <a href="@Url.Action("ProductDetail", "Home", new {iId = product.ID})" class="btn-product-icon btn-quickview w-icon-search" title="View"></a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <div class="product-cat">
                                        <a href="#/">@product.CategoryName</a>
                                    </div>
                                    <h3 class="product-name">
                                        <a href="#/">@product.Name</a>
                                    </h3>
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width: @(product.Rating *20)%;"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <a href="#/" class="rating-reviews">(@product.Reviews reviews)</a>
                                    </div>
                                    <div class="product-pa-wrapper">
                                        <div class="product-price">
                                            £@product.RetailPrice
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>

                @*<div class="toolbox toolbox-pagination justify-content-between">
                    <p class="showing-info mb-2 mb-sm-0">
                        Showing<span>1-12 of 60</span>Products
                    </p>
                    <ul class="pagination">
                        <li class="prev disabled">
                            <a href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
                                <i class="w-icon-long-arrow-left"></i>Prev
                            </a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="next">
                            <a href="#" aria-label="Next">
                                Next<i class="w-icon-long-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>*@
            </div>
            <!-- End of Shop Main Content -->
        </div>
        <!-- End of Shop Content -->
    </div>
</div>

@section Scripts{

    <script>
        function AssignPrice(priceFrom, priceTo) {
            $(".min_price").val(priceFrom);
            $(".max_price").val(priceTo);
        }

    </script>
}